<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body{
        background-color:red
        }

    </style>
</head>
<body class="body">

<nav class="navbar navbar-default">

  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Amazon</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="https://www.amazon.in/b/?_encoding=UTF8&node=7459781031&ref_=sv_top_ap_mega_2">men</a></li>
      <li><a href="https://www.amazon.in/">women</a></li>
      <li><a href="https://www.amazon.in/">kids</a></li>
    </ul>
  </div>
</nav>
<img src="C:\Users\Jaggu\Desktop\amzn.png">

<div class="container">
  <h1>AMAZON WEBSITE</h1>
  <h3> ASHADAM SALE </h3>
  <p>World's best shopping site. Special offers for this festive season.</p>
</div>

</body>
</html>